Assets/ShooterGame/SampleData/HUDSampleData/HUDSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.HUDSampleData" targetNamespace="Expression.Blend.SampleData.HUDSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HUDSampleData" type="tns:HUDSampleData" />
  <xs:complexType name="HUDSampleData">
    <xs:sequence>
      <xs:element name="PrimaryWeapon" type="tns:PrimaryWeapon" />
    </xs:sequence>
    <xs:attribute name="MatchInfo" type="xs:string" />
    <xs:attribute name="PlayerIsLowHealth" type="xs:boolean" />
    <xs:attribute name="MatchIsPlaying" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="2" name="PlayerKills" type="xs:double" />
    <xs:attribute name="MatchTime" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="PlayerTeamPos" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="NumTeams" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="PlayerHealthAmount" type="xs:double" />
    <xs:attribute name="OutOfAmmo" type="xs:boolean" />
      <xs:sequence>
          <xs:element name="DeathMessages" type="tns:DeathMessages" />
      </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrimaryWeapon">
    <xs:sequence>
      <xs:element name="AmmoIconAlphas" type="tns:AmmoIconAlphas" />
    </xs:sequence>
    <xs:attribute name="IconName" type="xs:string" />
    <xs:attribute name="AmmoIconName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="AmmoInClip" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="AmmoInPocket" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="AmmoIconAlphas">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AmmoIconAlphasItem" type="tns:AmmoIconAlphasItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmmoIconAlphasItem" />
</xs:schema>